$my-theresa-green: #32812a;
$my-theresa-grey: #e9e6e6;
$my-theresa-dark-grey: #a5a5a5;
$my-theresa-light-grey: #f3f3f3;
$my-theresa-black: black;
$my-theresa-light-black: #5c5c5c;
$my-theresa-purple: purple;