$app-outline: 2px solid var(--app-focus-color);
$app-page-padding: 2rem;
$app-carousel-height: 500px;
$app-shadow: var(--app-shadow-container-color) 0px 3px 8px;
$app-carousel-button-size: 50px;
$app-min-device-screen-width: 420px;
$app-min-row-gap-container: 2rem;
$details-page-image-max-width: 60%;
$app-round-icon-size: 40px;