@use './colors.scss';

:root {
    --header-boder-color: #{colors.$my-theresa-light-black};
    --header-logo-color: #{colors.$my-theresa-green};
    --header-background-color: #{colors.$my-theresa-grey};
    --app-focus-color: #{colors.$my-theresa-black};
    --app-loading-bar-background: #{colors.$my-theresa-light-grey};
    --app-loading-bar-loaded-background: #{colors.$my-theresa-green};
    --app-shadow-container-color: #{colors.$my-theresa-dark-grey};
    --app-section-title-color: #{colors.$my-theresa-green};
    --app-normal-text-color: #{colors.$my-theresa-black};
    --carousel-button-background: #{colors.$my-theresa-grey};
    --carousel-button-arrow-color: #{colors.$my-theresa-black};
    --wish-list-item-boder-color: #{colors.$my-theresa-light-black};
    --wish-list-item-background-color: #{colors.$my-theresa-almost-white};
    --wish-list-item-link-color: #{colors.$my-theresa-green};
}