@use '../../styles/abstracts/layout.scss';
@use '../../styles/abstracts/mixins.scss';

.home-page {
    padding: layout.$app-page-padding;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: layout.$app-page-padding;
}

.home-empty-page {
    @include mixins.noDataMessage;
}