@use '../../styles/abstracts/mixins.scss';

.staff-details-container {
    @include mixins.detailsContainer;
}

.title-section {
    display: flex;
    justify-content: flex-start;
    column-gap: 2rem;
    align-items: center;
}

.star-outline, .star-filled {
    @include mixins.roundButtonForIcon;
}

.staff-details-title {
    margin: 0;
    color: var(--app-section-title-color);
}

.staff-age, .staff-home-town {
    margin: 0;
    color: var(--app-normal-text-color);
}