@use '../../styles/abstracts/layout.scss';
@use '../../styles/abstracts/mixins.scss';

.error-page {
    padding: layout.$app-page-padding;
    width: 100%;
    height: calc(100vh - #{layout.$app-header-height});
    min-height: layout.$app-min-page-height;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: layout.$app-min-row-gap-container;
}

.error-page-image {
    width: calc(#{layout.$app-min-page-height} / 2);
    height: calc(#{layout.$app-min-page-height} / 2);
}

.error-page-message {
    margin: 0;
    word-wrap: break-word;
    color: var(--app-error-message-color);
}